
<div>
  <p>
    <label for="methodoptions">{{ 'primaryMethod.methodOptions' | translate}} {{ 'primaryMethod.methodTypes.'+methodType | translate }}</label>
    <select id="methodoptions" name="select" [(ngModel)] ="selectedMethod" class="arrayOptions" (change)="getDescription($event)">
      <option value="" disabled selected>...</option>
      <option *ngFor="let option of options" [value]="option.name">
        {{ 'primaryMethod.secondaryOptions.status.'+methodType+'.'+option.name+'.shortDesc' | translate }}
      </option>
    </select>
  </p>
 
  <ng-container *ngIf="selectedMethod !== ''">
    <app-documentation [urlPath]="selectedMethod" [desc]="selectedDesc"></app-documentation>
  </ng-container>
  
</div>
