<aside>
  <div class="usage-code usage1">
    <p>
      <span>let arr = [5, 1, 8];</span><br>
      <ng-container *ngIf="selectedUsage">
          <teximate [text]="example" [effect]="effectOptions" [hover]="hoverOptions"></teximate>
      </ng-container>
      <ng-container *ngIf="selectedUsage" #container>
        <button (click)="copyContent()" class="ui-button-info">{{ 'app.CodeCopy' | translate }} </button>
      </ng-container>
    </p>
  </div>
  <div *ngIf="selectedUsage" class="usage2">
    <h3 style="margin-top: 50px">{{ 'Usage.Output' | translate }}</h3>
    <div class="usage-code">
      <span>
        <teximate [text]="output" [effect]="effectOptions" [hover]="hoverOptions"></teximate>
      </span>
    </div>
  </div>
</aside>