<div>
    <label for="firstmethod">{{ 'primaryMethod.firstMethod' | translate }}</label>
    <select id="firstmethod" name="select" [(ngModel)]="selectedFilter" class="arrayOptions">
      <option value="" disabled selected>...</option>
      <option *ngFor="let option of options" [value]="option.name">
        {{ 'primaryMethod.primaryOptions.'+option.name | translate }}
      </option>
    </select>
    <ng-container *ngIf="selectedFilter === 'add' ;else second">
      <div>
        <!-- <method-choice :options="adding" methodType="add"/> --> 
      </div>
    </ng-container>
    <ng-template #second>
      <ng-container *ngIf="selectedFilter === 'remove'; else third">
        <div>
          <!-- <method-choice :options="removing" methodType="remove"/> -->
        </div>
      </ng-container>
    </ng-template>
    <ng-template #third>
      <div>
        <!-- <method-choice :options="iterate" methodType="iterate by"/> --> 
      </div>
    </ng-template>
    <!-- <div if="selectedFilter === options[0]">
      <method-choice :options="adding" methodType="add"/>
    </div>
    <div v-else-if="selectedFilter === options[1]">
      <method-choice :options="removing" methodType="remove"/>
    </div>
    <div v-else-if="selectedFilter === options[3]">
      <method-choice :options="iterate" methodType="iterate by"/>
    </div>
    <div v-else-if="selectedFilter === options[2]">

      <p>
        <label for="findmethod">{{$t('findMethod', "I'm trying to find")}}</label>
        <select id="findMethod" name="select" v-model="selectedFind">
          <option value="" disabled selected>...</option>
          <option value="single">{{$t('singleItem', 'one item')}}</option>
          <option value="many">{{$t('manyItems', 'one or many items')}}</option>
        </select>
      </p>

      <div v-if="selectedFind === 'single'">
        <method-choice :options="find.single" methodType="find"/>
      </div>

      <div v-else-if="selectedFind === 'many'">
        <method-choice :options="find.many" methodType="find"/>
      </div>

    </div>
    <div v-else-if="selectedFilter === options[5]">
      <method-choice :options="ordering"/>
    </div>
    <div v-else-if="selectedFilter === options[4]">
      <method-choice :options="string"/>
    </div>
    <div v-else-if="selectedFilter === options[6]">
      <method-choice :options="other"/>
    </div> -->
</div>